name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}   # Ton secret GitHub PAT

      - name: Build and push Calculatrice
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/calculatrice:latest ./calculatrice
          docker push ghcr.io/${{ github.repository_owner }}/calculatrice:dev

      - name: Build and push Statistiques
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/statistiques:latest ./statistiques
          docker push ghcr.io/${{ github.repository_owner }}/statistiques:dev

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.29.0'

      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      - name: Update manifests with GHCR images
        run: |
          sed -i 's|image: calculatrice:dev|image: ghcr.io/${{ github.repository_owner }}/calculatrice:dev|' k8s/calculatrice-deployment.yaml
          sed -i 's|image: statistiques:dev|image: ghcr.io/${{ github.repository_owner }}/statistiques:dev|' k8s/statistiques-deployment.yaml

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/calculatrice-deployment
          kubectl rollout status deployment/statistiques-deployment