name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}   # Ton secret GitHub PAT

      - name: Build and push Calculatrice
        run: |
          docker build -t ghcr.io/mohamedyenge/calculatrice:dev ./calculatrice
          docker push ghcr.io/mohamedyenge/calculatrice:dev

      - name: Build and push Statistiques
        run: |
          docker build -t ghcr.io/mohamedyenge/statistiques:dev ./statistiques
          docker push ghcr.io/mohamedyenge/statistiques:dev